<mat-toolbar color="primary">
  <span>METROPOLIS</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-button [matMenuTriggerFor]="menu">    
    <img [src]="user.photoURL" height="30" width="30">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="auth.signOut()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Log out</span>
     </button>
  </mat-menu>
</mat-toolbar>

